---
layout: main
---
<button onclick="topFunctionArrow()" id="back-to-top-btn" title="返回顶部">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28">
		<path
			d="M11.9997 10.8284L7.04996 15.7782L5.63574 14.364L11.9997 8L18.3637 14.364L16.9495 15.7782L11.9997 10.8284Z">
		</path>
	</svg>
</button>

<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }} - {{ page.author }}</p>

{{ content }}

<p><strong>Please comment below anything you wanna say! 😉</strong></p>

<script src="{{ "assets/js/return_top.js" | relative_url }}"></script>
<!-- For Utterance comments -->
<script src="https://utteranc.es/client.js"
        repo="kidlo-th/kidlo-th.github.io"
        issue-term="pathname"
        label="Utterances🔮"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
